body{
    background-color: #3B4959;
    font-family:  sans-serif;

    
}
    /* styles for the light/dark mode toggle */
    #toggle-mode{
        cursor:pointer;
    }

/* NavBar section */
#Navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color:#2D3743;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;   
    padding: 0px 14px 0px 14px;
}
#Navbar{}


/* Search and Filter section */
.Search{
    padding: 23px;
    margin-top: 90px;
    display: flex;
    justify-content:space-between;
    
}
.Search input,.Search #filter{
    background-color: #2D3743;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #2D3743;
    width: 50%;
    margin-right: -1px;
    box-sizing: border-box;
    outline: none;
}
.Search #filter{
    width: 30%;
    outline: none;
}

        /* Card section */
        #CardsContainer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
             justify-content: space-around;

        }
        .card{  
            background-color: #2D3743;
            color: white;
            margin: 1rem;
          border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0.25rem 0.5rem rgb(98 95 95);
            transition: all 0.3s;

        } 
        .card:hover {
            cursor: pointer;
            transform: translateY(-0.25rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          }
        
         .card .image{
          width: 100%;
    height: 10rem;
        box-shadow: 0 0.25rem 0.5rem rgb(98 95 95);
            
        }
        .card .image img{
            width: 100%;
        height: 100%;
        object-fit: cover;
            
        } 
        .card .description{
            padding-left: 20px;
           font-size: small;
        }
       
        #backButton{
            display: none;
            position: absolute;
            top: 10rem;
            left: 0.5rem;
        }
        .button{
         
          height: fit-content;
          width: fit-content;
          border: 0;
          cursor: pointer;
          transform: translateY(-0.25rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }
        

        
      .show {
        display: block;
      }
      .bold-h2 {
        font-weight: 900, 600, 800;
      
      }

     
      #card2 .image2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-area: image2;
      }
      
      #card2 .des1 {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        grid-area: des1;
      }
      
      #card2 .des2 {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        grid-area: des2;
      }
      
      #card2 .des3 {
        grid-area: des3;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
      }
      
      #card2{
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas:
            "image2 des1 des2"
            "image2 des3 des3";
        grid-gap: 1rem;
        text-align: center;
        background-color: white;
        margin: 1%;
       
    }
    #card2 .image2 img{
        width: 100%;
    height: 100%;
    object-fit: cover;
  
        box-shadow: 0 0.25rem 0.5rem rgb(98 95 95);
        transition: all 0.3s;
}
      
      @media screen and (max-width: 828px) {
        #card2 {
            grid-template-columns: auto;
          grid-template-rows: 1fr;
          grid-template-areas:
            "image2"
            "des1"
            "des2"
            "des3";
        }
      }
      
      #card2 .image2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      span{
        font-weight: bold;
    }

               
        @media screen and (max-width: 828px) {
            #CardsContainer{
               width: 80%;
                grid-template-columns:1fr 1fr;
                margin: auto;
    
            }
           
            }
        @media screen and (max-width: 448px) {
            #CardsContainer{
               width: 80%;
                grid-template-columns:1fr ;
                margin: auto;
    
            }
           
            }
          